<div class='user-signup row'>
  <div class='col-sm-2'></div>
  <div class='col-sm-8'>
    <h2>Welcome</h2>
    <%= render partial: "shared/error_box", locals: {errors: flash[:errors]} %>
    <%= render partial: "shared/user_dropdown_menue", locals: {user: @artist} %>
    <div id='user-form-container'>
      <%= render partial: "patron_form", locals: {artist: @artist} %>
    </div>
  </div>
  <div class='col-sm-2'></div>
</div>