<ul id='user-dropdown'>
  <li><a class="drp-dwn <%=active if active=='patron'%>"href="#">Event Goer</a></li>
  <li><a class="drp-dwn <%=active if active=='artist'%>"href="#">Artist / Promoter</a></li>
  <li><a class="drp-dwn <%=active if active=='venue'%>"href="#">Venue</a></li>
</ul>