<div class='row'>
  <div class='col-sm-2 header'>
    <h3><%= event.name %></h3>
    <p>hosted by <strong><%= event.venue.name %></strong></p>
    <p>tickets <%= event.ticket_price %></p>
  </div>
  <div class='col-sm-10 body'>
    <p><%= event.description %></p>
  </div>
</div>